:root {
    --primary-color: #35d91c;
    --secondary-color: #56b35a;
    --background-color: #ccc;
    --background-color-dark: #333;
}


* {
    text-decoration: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/*-------------Header-------------*/

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #0f9415, #38e41e);
    padding: 0.5rem 1rem;
    position: relative;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    z-index: 10;    
}

#logo {
    display: flex;
    align-items: center;
}

header h1 {
    padding: 0.5rem 1rem;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
}


header li a{
    text-align: center;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 0 8px;
    padding: 8px 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

header li a:hover {
    color: whitesmoke;
}

#ca-st-gallen-img {
    padding-left: 1rem;
    height: 60px;
    width: auto;
}

#page-nav {
    display: flex;
    justify-content: flex-end;
}

#page-nav ul {
    display: flex;
    list-style: none;
    gap: 16px;
    padding: 0;
    margin: 0;
    margin-right: 5rem;
}

#hamburger-btn {
    display: none;
    font-size: 1.5rem;
    background-color: #0f9415;
    border: 1px solid black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 50px;
    height: 50px;
    border-radius: 5px;
    cursor: pointer;
}

@media (max-width: 800px) {
    #hamburger-btn {
        display: block;
    }

    #page-nav ul {
        display: none;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 70px;
        right: 0;
        width: 200px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border-radius: 8px;
        overflow: hidden;
        padding: 1rem 0;
        z-index: 15;
        transition: height 0.3s ease, opacity 0.3s ease;
    }

    #page-nav ul.active {
        display: flex;
        flex-direction: column;
        opacity: 1;
    }

    #page-nav ul li {
        text-align: center;
        margin: 0;
    }

    #page-nav ul li a{
        display: block;
        color: #0f9415;
        font: 1rem;
        font-weight: bold;
        padding: 10px 20px;
        text-decoration: none;
        transition: background-color 0.3s ease;
    }

    #page-nav ul li a:hover {
        background-color: #f0f0f0;
        color: #0f9415;
    }
}

/*-------------Footer-------------*/

footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    background-image: linear-gradient(to right, #0f9415, #38e41e);
    border-top: 2px solid black;
}

footer p {
    padding: 1rem;
}

.socials-container {
    display: flex;
    gap: 20px;
    padding: 1rem;
}
.socials-container a{
    background-color: whitesmoke;
    padding: 1rem;
    border-radius: 50%;
    height: 64px;
    width: 64px;
    box-sizing: border-box;
    flex-shrink: 0;
}
.socials-container a:hover{
    transform: translateY(-5px);
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
.socials-container a svg{
    height: 32px;
    width: 32px;
}


/*-------------Main-------------*/

main h2 {
    margin: 0px;
    text-align: center;
    padding: 1rem;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    background-color: whitesmoke;
}

.business-container {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;
    padding: 20px;
}

.business-card.grid-view {
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    background-color: white;
    padding: 1rem;
}

.business-card.grid-view:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.business-card img {
    width: auto;
    border-radius: 4px;
}

.business-card h3 {
    margin: 16px 0 8px;
    font-size: 1.2em;
    color: #333;
}

.business-card p {
    font-size: 0.8em;
    color: #555;
    margin: 4px 0;
}

.business-card a:hover {
    text-decoration: underline;
}

.view-buttons {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-top: 16px;

}

.view-buttons button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 8px;
    transition: background-color 0.3s ease;
}

.view-buttons button img {
    padding-top: 2px;
    width: 34px;
    height: 32px;
}

.view-buttons button.active {
    background-color: rgba(0, 255, 0, 0.3);
    border: 2px solid #0f9415;
    border-radius: 5px;
}

.business-card.list-view {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 16px;
    border: 1px solid #ddd;
    box-shadow: none;
    text-align: left;
}

.business-card.list-view img {
    display: none; /* Hide the image in list view */
}

.business-card.list-view h3 {
    margin: 0 0 8px;
    font-size: 1.2rem;
}

.business-card.list-view p {
    margin: 4px 0;
}

/*-----------Dark Mode-----------*/

#dark-mode-toggle {
    width: 40px; 
    height: 40px;
    cursor: pointer;
    position: absolute;
    top: 50%;
    right: 2.5rem;
    transform: translateY(-50%);

}

#dark-mode-toggle:hover {
    transform: translateY(-50%) scale(1.1);
    filter: brightness(1.2);
}

:root[data-color-mode="dark"] {
    --main-bg: #222; 
    --main-color: white; 
}

body {
    background-color: var(--main-bg);
    color: var(--main-color);
    transition: background-color 0.3s ease, color 0.3s ease; 
}

@media (min-width: 1024px) { 
    #dark-mode-toggle {
        right: 3.5rem; 
    }
}


:root[data-color-mode="dark"] {
    --h2-bg: #333; 
    --card-bg: #444; 
    --card-text: white; 
}

main h2 {
    background-color: var(--h2-bg);
    color: var(--card-text);
    transition: background-color 0.3s ease, color 0.3s ease;
}

.business-card {
    background-color: var(--card-bg);
    color: var(--card-text);
    border: 1px solid #666; 
    transition: background-color 0.3s ease, color 0.3s ease;
}

.business-card h3,
.business-card p,
.business-card a {
    color: var(--card-text); 
}

.business-card a {
    text-decoration: underline;
}

.business-card a:hover {
    text-decoration: none;
}





